{% extends 'base.html' %}


{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel-body">
                    <script type="text/javascript" language="javascript">

                        $(document).ready(function(){

                            $('#label1').hide();
                            $('#button1').bind('click',function(){
                                if($('#file1').val()){
                                    $('#label1').hide();
                                    return true;
                                } else{
                                    $('#label1').show();
                                    return false;
                                }
                            });
                             $('#button2').bind('click',function(){
                                if($('#file2').val()){
                                    $('#label1').hide();
                                    return true;
                                } else{
                                    $('#label1').show();
                                    return false;
                                }
                            });
                             $('#button3').bind('click',function(){
                                if($('#file3').val()){
                                    $('#label1').hide();
                                    return true;
                                } else{
                                    $('#label1').show();
                                    return false;
                                }
                            });

                        });

                        function checkfile(sender) {
                            var validExts = new Array(".csv");
                            var fileExt = sender.value;
                            fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
                            if (validExts.indexOf(fileExt) < 0) {
                                alert("Invalid file selected, valid files are of " + validExts.toString() + " types.");
                                return false;
                            }
                            else return true;
                        }

                    </script>
                        <br>
                        <br>
                    <form action="." method="post"  enctype="multipart/form-data">
                      <centre>
                        {% csrf_token %}
                        <span >
                             Select sales data<input type="file" class="btn btn-primary btn-file" name='file1' value="file1" id="file1" onchange="checkfile(this);" />
                        </span>
                          <br>
                        {% csrf_token %}
                        <span>
                             Select dealer data<input class="btn btn-primary btn-file" type="file" name='file2' value="file2" id="file2" onchange="checkfile(this);" />
                        </span>
                        <br>
                        {% csrf_token %}
                        <span  >
                             Select payment data<input type="file" class="btn btn-primary btn-file" name='file3' value="file3" id="file3" onchange="checkfile(this);" />
                        </span>
                          <br>
                        <input type="submit" value="Upload  Data" class="btn btn-success btn-primary" id="button3"/>
                      </centre>
                    </form>



                        <br>

                        <!--<label id="label1">No File Choosen</label> -->
                        {% if status%}
                           <h5>{{status}}</h5>
                        {%  endif   %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block nav %}
                <li class="active">
                   <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                </li>

{% endblock %}